<div ng-app class="map" ng-controller="MainCtrl">
<p class="lead">
  <div class="pac-card" id="pac-card">
        <div>
          <div id="title">
          <h1>  CityLife Search</h1>
          </div>
        </div>
<body ng-controller="MainCtrl">
  <input places-auto-complete types="['geocode']" on-place-changed="placeMarker()" />
  <ng-map id="mapa" center="{{center}}" zoom="15" on-click="getpos($event)">
      <marker position="{{latlng}}" on-dragend="getpos($event)"
        animation="Animation.BOUNCE" animation="DROP" draggable="true"></marker>
    </ng-map>
    {{latlng}}
</body>
