<div ng-app class="map" ng-controller="MainCtrl">
<p class="lead">
  <div class="pac-card" id="pac-card">
        <div>
          <div id="title">
          <h1>  CityLife Search</h1>
          </div>
        </div>
        <div id="pac-container">
          <input type="text" id="mapsearch">
          <p><button class="btn btn-sm btn-primary" ng-click="saveBusiness(currentBusiness)">Search</button></p>
        </div>
      </div>
      <div id="map-canvas"></div>
      <iframe
        src="https://www.google.com/maps/embed/v1/search?key=AIzaSyAEA5TmjTCedUZ89NTyK3wK0e2umS_i5aM&q=business" allowfullscreen>
      </iframe>
</div>
