<div ng-app class="map" ng-controller="MainCtrl">
<p class="lead">
  <div class="pac-card" id="pac-card">
        <div>
          <div id="title">
          <h1>  CityLife Search</h1>
          </div>
          <div id="type-selector" class="pac-controls">
            <input type="radio" name="type" id="changetype-all" checked="checked">
            <label for="changetype-all">All</label>

            <input type="radio" name="type" id="changetype-establishment">
            <label for="changetype-establishment">Establishments</label>

            <input type="radio" name="type" id="changetype-address">
            <label for="changetype-address">Addresses</label>

            <input type="radio" name="type" id="changetype-geocode">
            <label for="changetype-geocode">Geocodes</label>
          </div>
        </div>
        <div id="pac-container">
          <input id="pac-input" type="text"
              placeholder="Enter a location">
        </div>
      </div>
  <div map-lazy-load="https://maps.google.com/maps/api/js"
    map-lazy-load-params="{{googleMapsUrl}}">
    <ng-map center="47.6062,-122.3321" zoom="10"></ng-map>
  </div>
</div>
<div class="row marketing">
  <h4>Saved Locations</h4>
  <p>
    This section will show all of the saved sections.
</div>
